
.feedback-container {
    display: flex;
    justify-content: flex-end; 
    height: 90vh;
    padding: 3px;
  }
  
  .feedback-form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .feedback-form h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .feedback-form label {
    font-weight: bold;
  }
  
  .feedback-form textarea {
    width: 100%;
    padding: 10px;
    height: 10vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  .feedback-form button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .feedback-form button:hover {
    background-color: #0056b3;
  }
  