/* Base styles for larger screens */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #123462;
    color: white;
    padding: 10px 20px;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar__logo img {
    width: 50px;
    height: auto;
    margin-right: 15px; /* Separation distance between logos */
}

.navbar__dashboard {
    font-size: 1.5rem;
    flex-grow: 1; /* Allow dashboard text to take available space */
    text-align: center; /* Center text */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .navbar__logo {
        margin-bottom: 10px;
    }

    .navbar__logo img {
        margin-right: 0;
    }
}


/* No need for position: fixed; for navbar, as we're using Flexbox to achieve the layout */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar__logo img {
    width: 40px;
    height: auto;
    margin-right: 15px;
}

.navbar__dashboard {
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
}
